*
{
	padding:0px;
	margin: 0px;
	box-sizing:border-box;
}
.container
{
	width: 100%;
	height: auto;
}
.header
{
	width: 100%;
	height:50px;
    background-color: #ecf3fc;
}
.header1,.header2,.header3
{
	width: 33%;
	height: 50px;
	float: left;
	font-size: 20px;

}
.header1 img {
	margin-left: 180px;
   margin-top: 11px;
}
.header1 a
{
   color: black;
   text-decoration: none;margin-top: -30px;
}

.header1 a:hover
{
	text-decoration: underline;
}
.header2
{
	padding-left: 170px;
}
.header2circle
{
	width: 30px;
	height: 30px;
	display: inline-block;
	background-color:#183661;
	border-radius: 50%;
	margin-top: 7px;
	padding: 4px 6px;
}
.header2circle:hover
{
	background-color:#f2c119;
}
.header2 i 
{
	color: white;

}
.header3
{
	font-size: 16px;
	padding: 12px 20px;
}
/*------------------------------------------------------------subheader----------------------------------------*/
.subheader{
	width: 100%;
	height:100px;
}
.subheader1,.subheader2,.subheader3{
	width: 33%;
	height: 100px;
	float: left;

}
.subheader1
{
	padding-left: 180px;
	font-size: 20px;
	padding-top: 40px;
}
.subheader1 a
{
   color: black;
   text-decoration: none;margin-top: -30px;
}

.subheader1 a:hover
{
	text-decoration: underline;
}
.subheader2 
{
  padding-left: 160px;
  padding-top: 27px;
}
.subheader3 img 
{
	margin-top: 38px;
	margin-left: 133px;
}
.subheader3sub
{
	width: 23%;
	height: 25px;
	background-color: #183661;
	border-radius: 20px;
	color: white;
	padding: 2px 20px;
	margin-left: 170px;
	margin-top: -27px;
}
.subheader3sub:hover
{
	background-color: #f2c119;
}
.subheader3 a 
{
	text-decoration: none;
}
/*--------------------------------------------------menu----------------------------------------------------*/
.menu
{
	width: 100%;
	height: 80px;
	background-color: #183661;
}
.menulist
{
	width: 60%;
	
}
.menulist a 
{
	 text-decoration: none;
	 color: white;
	 font-size: 20px;
}
.menulist li 
{
	float: left;
	padding: 28px 23px;
}
.menulist li:hover
{
	background-color: #f2c119;
}
.search
 {
 	width: 40%;
 }
 .search input 
 {
 	width: 60%;
 	border-radius: 20px;
 	padding: 5px;
 	padding-left: 10px;
 	margin-left: 40px;
 	margin-top: 28px;
 	border: none;
 }
 .search i 
 {
 	color:#beb7b7 ;
 	margin-left: -25px;
 }
 .menulist,.search
 {
   float: left;
   height: 78px;
}
/*------------------------------subject------------------------------*/
.subject
{
	width: 100%;
	height: 700px;
	background-image: url("images/banner.jpg");
	background-size: 100% 100%;
	padding-left: 170px;
	position: relative;
  padding-top: 5px;

}
.subjecttext
{ 
  padding-top: 190px;
  width: 50%;
  height: 695px;
}
.subjectimg
{ 
  padding-top: 190px;
  width: 50%;
  height: 695px;
}
.subjecttext,.subjectimg
{
  float: left;
}
.subject h1 
{
	font-size: 90px;
	line-height: 1.5;
	word-spacing: 1.8;
}
.subject span 
{
	color: #f2c119;
}
.subject b
{
	font-size: 25px;
}
.subject img 
{
	height: 504px;
	margin-left: 0px;
	width: 50%;
}
.subjectbtn
{
	width: 12%;
	height: 60px;
	background-color:#1d37fd ;
	color: white;
	position: absolute;
	border-radius: 50px;
	padding: 22px 40px;
	font-size: 18px;
	margin-top: 50px;
}
.subjectbtn:hover
{
	background-color: #f2c119;
} 
 /*---------------------------------------------items--------------------------------------------------*/
 .items
 {
 	width: 100%;
 	height: 200px;
 }
 .items1,.items2,.items3,.items4,.items5,.items6
 {
 	width: 16.666%;
 	height: 199px;
 	float: left;
 	background-color: #f2c119;
 }
 .items2,.items4,.items6
 {
 	 background-color:#183661 ;
 }
 .items img 
 {
    margin-left: 60px;
    margin-top: 40px;
 }
 .items h3 
 {
 	color: white;
 	margin-top: 10px;
 }
                       /*---------------------------------------------------pro-------------------------------------------------*/
 .pro
 {
 	width: 100%;
 	height: 1300px;
 	background-image: url("images/product_bg.jpg");
 	background-size: 100% 100%;
 	position: relative;
 }
 .prohead
 {
 	width: 80%;
 	height: 50px;
 	margin-top: 50px;
 	margin-left: 150px;
 	box-sizing: border-box;
      border-bottom: 4px solid #f2c119;
 } 
 .prohead h1 
 {
 	font-size: 35px;
 }
 .prosubject
 {
 	width: 80%;
 	height: 1200px;
 	margin-left: 150px;
 	position: absolute;
 }                     
 .proitem1,.proitem2,.proitem3,.proitem4,.proitem5
 {
 	 width: 17%;
   height: 250px;
   float: left;
   margin-top: 20px;
   margin-left: 30px;
   background-color: #f2f2f2;
   padding: 50px 25px;
 }
 .rate1,.rate2,.rate3,.rate4,.rate5 
 {
   width: 17%;
   height: 45px;
   margin-left: 30px;
   margin-top: 5px;
   float: left;
 }
 .probtn
{
	width: 14%;
	height: 60px;
	background-color:#183661 ;
	color: white;
	border-radius: 50px;
	padding: 22px 45px;
	font-size: 18px;
	margin-top: 1050px;
	margin-left: 400px;
}
.probtn:hover
{
	background-color: #f2c119;
} 
.probtn p a 
{
	text-decoration: none;
}
/*----------------------------------------image---------------------------------------------------*/
.image
{
 width: 100%;
 height: 600px;
 background-image: url("images/fashion.jpg");
 background-size: 100% 100%;
}
/*----------------------------------------------news------------------------------------------------*/
.news
{
	width: 100%;
	height: 1200px;
}
.newshead
{
	width: 80%;
	height: 80px;
	padding-top: 30px;
	margin-left: 150px;
	box-sizing: border-box;
      border-bottom: 4px solid #f2c119;
 } 
 .newshead h1 
 {
 	font-size: 35px;
 }
 .newssubject
 {
 	width: 80%;
 	height: 1100px;
 	margin-left: 150px;
 }
 .newssubject2 h1
 {
 	margin-left: 20px;
 	margin-top: 30px;
 }
 .newssubject2 p 
 {
 	margin-top: 10px;
 	margin-left: 30PX;
 	line-height: 1.7;
 	text-align: left;
 	font-size: 20px;
 }
 .newssubject2 span 
 {
 	margin-left: 370px;
 }
 .newssubject1
 {
 	width: 40%;
 }
 .newssubject2
 {
 	width: 58%;
 }
 .newssubject1,.newssubject2
 {
 	float: left;
 	 	height: 250px;
 	 	margin-top: 30px;
 }
 .newssubject3,.newssubject4
 {
 	float: left;
 	 	height: 150px;
 	 	margin-top: 30px;
 }
 .newssubject3
 {
 	width: 40%;
 }
 .newssubject4
 {
 	width: 58%;
 }
 .newssubject3 h1 
 {
 	font-size: 35px;
 	margin-top: 50px;
 }
 .newssubject4 input[type="email"]
  {
    width: 80%;
    padding: 12px 20px;
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 30px;
  }
  .newssubject4 input[type="submit"]
  {
  	width: 16%;
  	height: 40px;
  	border-radius: 30px;
  	border: none;
  	background-color: #183661;
  	margin-left: 460px;
  	color: white;
  }
  .newssubject4 input[type="submit"]:hover
  {
  	background-color: #f2c119;
  }
  /*-----------------------------------------------------------last--------------------------------*/
  .last
  {
  	width: 100%;
  	height: 730px;
  }
  .lasthead
  {
    width: 100%;
    height: 173PX;
    padding-left: 120px;
    position: absolute;
    margin-top: -100px;
    margin-left: -200px;
  }
   .lasthead1,.lasthead2,.lasthead3
    {
      width: 17%;
      height: 150px;
      border-radius: 20px;
      float: left;
      background-color: white;
      padding: 30px 80px;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2) ;
      margin-left: 90px;
    }
    .lasthead h4
    {
      margin-left: -5px;
      margin-top: 5px;
    }
    .lasthead1 h4
    {
      margin-left: -9;
    }
    .lasthead3 h4
    {
      margin-left: -20;
    }
  .last1
  {
  	width: 100%;
  	height: 630px;
  	background-color: #183661;
  	padding-left: 200px;
    position: relative;
    margin-top: 10px;
  }
  .last1sub1,.last1sub2,.last1sub3,.last1sub4
  {
  	width: 20%;
  	height: 600px;
  	float: left;
  	margin-top: 100px;
  	padding-left: 30px;
  }
  .last1 h1 
  {
  	color: white;
  	text-align: left;
  	font-size: 25px;
  	margin-top: 70px;
  }
  .last1 p {
  	color: white;
  	font-size: 19px;
  	text-align: left;
  	line-height: 2;
    text-align: justify;
    padding-right: 8px;
  }
    .lastfoot
    {
    	width: 100%;
    	height: 60px;
    	padding: 30px 20px;
    	position: absolute;
    }
    .lastfoot p 
    {
    	 text-align: center;

    }
     /*-------------------------------responsive-----------------------------------------*/
  @media screen and (max-width: 500px)
   {
  .header {
    display: none;
  }
  .subheader1,.subheader3
  {
    display: none;
  }
  .menulist
  {
      display: none;
  }
  .search
  {
     width: 100%;
     padding-left: 80px;
  }
  .subject
  {
    width: 100%;
    height: 1220px;
    padding: 0;
  }
  .subject h1 
{
  font-size: 70px;
}
.subjecttext,.subjectimg
{
  width: 100%;
  display: block;
  padding-left: 30px;
}
.subjectimg
{
  margin-top: -170px;
}
.subjectbtn
 {
  width: 40%;
 }
.items
{
  height: 1200px;  

}
.items1,.items2,.items3,.items4,.items5,.items6
{
  width: 100%;
  padding-left: 120px;
}
.pro
{
  height:4250px ;
}
.prohead
{
  width: 99%;
  margin: 0;
}
.prosubject
{
  height:4130px;
  padding: 0;
}
.proitem1,.proitem2,.proitem3,.proitem4,.proitem5
{
  width: 60%;
  margin-left:-10px;
}
 .rate1,.rate2,.rate3,.rate4,.rate5 
 {
  display: none;
 }
 .image
 {
  width: 100%;
  height: 200px;
 }
 .newshead
 {
  width: 80%;
  margin: 15px;
 }
 .newssubject1,.newssubject2
 {
  width: 100%;
  display: block;
  margin-left: -100px;
 }
 .newssubject2
 {
   height: 400px;
 }
 .newssubject3,.newssubject4
 {
  width: 100%;
  display: block;
  margin:-10px;
  margin-left: -100px;
  padding:0px;
 }
 .news
 {
  height: 2800px;
 }
  .newssubject
  {
    height: 2700px;
  }
  .newssubject2 span 
  {
    margin-left: 110px;
  }
  .probtn
  {
    margin: 0;
    width: 50%;
    margin-top: 4110px;
  }
  .newssubject4 input[type="submit"]
  {
    margin: 10px;
    width: 50%;
  }
  .newssubject4 input[type="email"]
  {
    width: 98%;
    margin-left: -20px;
  }
  .last1
  {
    margin-top: 570px;
  }
  .last1sub1,.last1sub2,.last1sub3,.last1sub4
  {
    width: 100%;
    display: block;
    margin-left: -90px;
    text-align: left;
    height: 400px;
    margin-top: -0px;

  }
  .last1sub1
  {
    margin-top: 70px;

  }
  .last
  {
    height: 1850px;
    margin-top: -210px;
  }
  .lasthead
  {
    padding: 20px;
  }
  .lasthead1,.lasthead2,.lasthead3
  {
    width: 70%;
    display:block ;
    margin-top: -400px;
    padding-left: 110px;
  }
  .lasthead2
  {
    margin-top: -210px;
  }
  .lasthead3
  {
    margin-top:-30px ;
  }

  
  .last1
  {
    height: 1760px;
  }
 .lastfoot
 {
  width: 99%;
  margin-left: 20px;
 }
}